<div>
    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-2">
                <img src="assets/LOGO1.png" width="150" class="rounded mx-auto d-block">
            </div>
            <div class="col row">
                <div class="col vertical-line btn_nav" >
                    <a href="./Registrodefacturas 2.html" class="col vertical-line btn_nav">Facturas</a>
                    <!--  Facturas-->
                </div>
                <div class="col vertical-line btn_nav">
                    Revisión
                </div>
                <div class="col vertical-line btn_nav">
                    Usuarios
                </div>
                <div class="col vertical-line btn_nav">
                    Aprobación
                </div>
            </div>
            <div class="col">
                <select class="form-control">
                    <option class="saa" value=""> &#xf007; ROL</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-6 text-center">
                    <b>
                        LISTADO DE USUARIOS
                    </b>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2 offset-10">
            <div class="form-check">
                <div class="input-group">
                    <span style="margin-top: 40px;" class="input-group-addon">
                        <p>
                            <u>
                                <a href="#">cerrar sesion</a>
                            </u>
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="col text-center">

            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-11 offset-9">
                    <div class="d-grid gap-2 col-60 mx-auto">
                        <div class="form-check">
                            <div class="input-group">
                                <span style="margin-top: 20px;" class="input-group-addon">
                                    <button class="btn btn-success" type="button ">CREAR UN NUEVO USUARIO </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nombre de Usuarios</th>
                                <th scope="col">Cedula</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Javier Diaz</th>
                                <td>11122203</td>
                                <td>Contador</td>
                                <td>contador6@industriazarl.com</td>
                                <td>editar</td>
                            </tr>
                            <tr>
                                <th scope="row">Eduar Gonzalez</th>
                                <td>6458478</td>
                                <td>Coordiandor documental</td>
                                <td>coordiandordocumental@industriazarl.com</td>
                                <td>editar</td>
                            </tr>
                            <tr>
                                <th scope="row">Keler Arias</th>
                                <td>11147859</td>
                                <td>Coordinador de almacen</td>
                                <td>coordiandoralmacen@industriazarl.com</td>
                                <td>editar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-grid gap-2 d-md-block">
                        <div class="form-check">
                            <div class="input-group">
                                <span style="margin-top: 50px;" class="input-group-addon">
                                    <button class="btn btn-secondary" type="button">REGRESAR</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
